* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    background-color: rgba(187, 241, 241, 0.758);
    background: linear-gradient(rgb(217, 230, 234), rgb(90, 158, 218), rgb(93, 182, 206));
    background-attachment: fixed;
}

.hide {
    display: none;
}

img {
    width: 100%;
    border-radius: 10px;
}

canvas {
    margin: 0 auto;
    border-radius: 5px;
}