.dialog {
    background-color: rgba(255, 255, 255, 0.823);
    text-align: center;
}

.dialog>* {
    font-family: inherit;
}

.dialog::backdrop {
    background-color: rgba(92, 158, 173, 0.295);
    backdrop-filter: blur(2px);
}

.dialog .modal-btn-container {
    margin-top: 2em;
}

.dialog .important-msg {
    font-weight: bold;
}