.gallery-container {
    padding: 2em 2em;
}

.gallery-container .gallery-headers {
    display: flex;
    grid-auto-flow: column;
    align-items: center;
    margin-inline-start: 2em;
    padding: 0.5em;
}

.gallery-container .flexibale-btn {
    font-family: inherit;
    font-size: 1em;
    height: 1.875rem;
    margin-inline-start: 1em;
    background-color: #848587;
    border-radius: 1em;
    font-weight: bold;
}

.gallery-container .flexibale-btn:hover {
    cursor: pointer;
    box-shadow: -5px 5px 0px 0px rgb(118, 193, 216);
    transform: translate(5px, -5px);
}

.gallery-container .filter-section>* {
    margin-inline-start: 1em;
    font-family: inherit;
    font-weight: bold;
}

.gallery-container .label-filter {
    font-size: 1.1em;
}

.gallery-container .clear-filter {
    font-family: inherit;
    font-size: 1em;
    height: 1.875rem;
    margin-inline-start: 1em;
    background-color: #848587;
    border-radius: 1em;
    font-weight: bold;
}

.gallery-container .clear-filter:hover {
    cursor: pointer;
    box-shadow: -5px 5px 0px 0px rgb(118, 193, 216);
    transform: translate(5px, -5px);
}

.gallery-container .filter {
    background-color: rgb(118, 193, 216);
}

.gallery-container .gallery-img img {
    display: block;
    width: 100%;
    filter: grayscale(0.7);
}

.gallery-container .gallery-img img:hover {
    z-index: 1;
    transition: 0.5s;
    cursor: pointer;
    scale: 1.2;
    filter: unset;
}



.gallery-container .keyCount>* {
    margin-inline-start: 1em;
}

.gallery-container .keyCount>*:hover {
    color: rgb(21, 148, 186);
}

.gallery-container .funny {
    font-size: 12px;
}

.gallery-container .cat {
    font-size: 16px;
}

.gallery-container .baby {
    font-size: 10px;
}

.gallery-container .political {
    font-size: 20px;
}

.gallery-container .dog {
    font-size: 20px;
}