.main-header {
    height: 80px;
    background-color: rgb(96, 169, 224);
    align-items: center;
    padding: .5em 4em;
    border-radius: 25px;
}

.main-header .logo {
    font-size: 2em;
    font-weight: bold;
    color: rgb(48, 83, 102);
}

.main-header a {
    font-size: 1.3125em;
    font-weight: bold;
    text-transform: uppercase;
    margin-inline-start: 1.5em;
    background: transparent;
    color: rgb(48, 83, 102);
    position: relative;
    border-radius: 0.5rem;
}

.main-header a:hover {
    color: rgb(92, 120, 203);

    box-shadow: 10px 10px 15px -3px #488aec4f, 10px 4px 6px -2px #488aec17;
    transition-delay: .2s;
}

/* .main-header a.selected {
    color: rgb(116, 187, 198);
    transition-delay: .2s;
} */