.main-header {
    background-color: rgb(96, 169, 224);
    align-items: center;

}

.main-header a {
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    color: rgb(48, 83, 102);
}

.main-header .logo {
    font-weight: bold;
    color: rgb(48, 83, 102);
}

.main-header a:hover {
    color: rgb(92, 120, 203);
    box-shadow: 10px 10px 15px -3px #488aec4f, 10px 4px 6px -2px #488aec17;
    transition-delay: .2s;
}