/* .meme-editor { */
/* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    width: 850px;
    height: 450px;
    background-color: rgb(140, 178, 200);
    margin: 1em auto;
    padding: 1em;
    border-radius: 30px;
    align-items: center;
    position: relative; */
/* } */

/* .tool-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
} */


.meme-editor {
    border-radius: 30px;
}


.hide {
    display: none;
}

.meme-editor button {
    font-family: inherit;
    padding: 0.5em;
    border-radius: 5px;
    background-color: #c4e8ef;
    font-weight: bold;
}

.meme-editor button:hover {
    cursor: pointer;
    background-color: white;
}

.tool-bar .txt-input {
    border-radius: 4px;
    transition: .4s;
}

.tool-bar .txt-input:focus-within {
    background: #acced4;
}

.tool-bar .txt-input:hover {

    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.tool-bar .txt-input:focus {
    box-shadow: 0 0 0 .15vw rgb(78, 97, 107);
}

.tool-bar .font-selecting {
    position: relative;
    border-radius: 4px;
    font-family: inherit;
    font-weight: bold;
    background-color: #c4e8ef;

}

.tool-bar .font-selecting>* {
    font-family: inherit;
    font-weight: bold;
}

.tool-bar .font-selecting:hover {
    background-color: white;
    ;
}

.tool-bar .facebook-share:hover {
    background-color: #4267B2;
}

.tool-bar .download {
    color: black;
}

/* .tool-bar .colors {
    display: flex;
    flex-direction: column;
} */

.tool-bar .color {
    border-radius: 50%;
}

.tool-bar .color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
}

.tool-bar .color::-webkit-color-swatch {
    border-radius: 10px;
}

.tool-bar .color::-moz-color-swatch {
    border-radius: 10px;
}

.tool-bar .goToGallery {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 25px;
    height: 25px;
}