.meme-editor {
    border-radius: 30px;
}

.meme-editor button {
    font-family: inherit;
    padding: 0.5em;
    border-radius: 5px;
    background-color: #c4e8ef;
    font-weight: bold;
}

.meme-editor button:hover {
    cursor: pointer;
    background-color: white;
}

.tool-bar>* {
    font-size: 2em;
}

.tool-bar label {
    font-size: 0.5em;
}

.tool-bar .txt-input {
    border-radius: 4px;
    transition: .4s;
}

.tool-bar .txt-input:focus-within {
    background: #acced4;
}

.tool-bar .txt-input:hover {

    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.tool-bar .txt-input:focus {
    box-shadow: 0 0 0 .15vw rgb(78, 97, 107);
}

.tool-bar .font-selecting {
    position: relative;
    border-radius: 4px;
    font-family: inherit;
    font-weight: bold;
    background-color: #c4e8ef;
    font-size: 1rem;


}

.tool-bar .font-selecting>* {
    font-family: inherit;
    font-weight: bold;
}

.tool-bar .font-selecting:hover {
    background-color: white;
    ;
}

.tool-bar .facebook-share:hover {
    background-color: #4267B2;
}

.tool-bar .download {
    color: black;
}

.tool-bar .whatsapp:hover {
    background-color: #25D366;
}

.tool-bar .color {
    border-radius: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.tool-bar .color::-webkit-color-swatch {
    border-radius: 10px;
}

.tool-bar .color::-moz-color-swatch {
    border-radius: 10px;
}

.tool-bar .goToGallery {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 25px;
    height: 25px;
}

.meme-editor .tool-bar>* button {
    /* font-size: 1.5rem; */
    padding: 0.3em;
    font-size: 1rem;
}