.savedImgContainer .savedImgGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    gap: 10px;
    columns: 4;
    padding: 20px;
    margin: 0 auto;
}

.savedImgGallery img {
    display: block;
    width: min-content;
    filter: grayscale(0.7);
}

/* .savedImgContainer .noImgMeme {
    width: 40%;
} */

.savedImgGallery img:hover {
    z-index: 1;
    transition: 0.5s;
    cursor: pointer;
    scale: 1.2;
    filter: unset;
}